* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.navbar {
  width: 100%;
  background-color: #202C3A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logo img {
  height: 40px;
}

.navbar .side {
  display: flex;
  align-items: center;
}

#language-select {
  margin-right: 10px;
  background-color: white;
  color: #545B64;
  font-size: 14px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 2px;
  outline: none;
}

#language-select:hover {
  color: black;
}

.console-login-link {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: #FF9900;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.console-login-link:hover {
  background-color: #ff7d03;
}

.home {
  width: 100%;
  padding: 1.5rem 3.5rem;
}

.notification {
  background-color: rgb(233, 246, 253);
  color: #333;
  padding: 20px;
  border: rgb(0, 99, 149) 1px solid;
  width: 55%;
  margin-bottom: 10px;
  font-size: 14px;
}

.upload-info {
  background-color: white;
  width: 55%;
  box-shadow: #b4b4b4 0px 1px 2px 1px;
  padding: 1rem 1.5rem;

}

.upload-info .aws-title {
  font-size: 30px;
  font-weight: 500;
  color: #2c2c2c;
  padding: 10px 0;
  margin-bottom: 10px;
}

.upload-info .aws-build {
  font-size: 15px;
  padding-top: 15px;
  color: #000000;
  margin-bottom: 15px;
  /* line-height: 2px; */
}

.upload-info ul {
  font-size: 15px;
  list-style-type: disc;
  padding-left: 40px;
  color: #000000;
}

.upload-info ul ul {
  list-style-type: circle;
  padding-left: 40px;
}

.valid-proof {
  color: #545B64;
  font-size: 15px;
  padding: 10px 0;
  font-weight: bold;
}

/* Style for triangle icon rotation */
.triangle {
  display: inline-block;
  transition: transform 0.3s ease;
}

.triangle.open {
  transform: rotate(90deg);
}

/* Style for dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
}

.dropdown-content img {
  max-width: 100%;
}

.additional-info {
  border-top: 1px solid #babcbf;
}

.additional-info {
  list-style-type: disc;
  margin-left: 5px;
  font-weight: 300;
  font-size: 14px;
}

.additional-info ul li {
  padding-bottom: 5px;
}

/* When the dropdown is open, show the content */
.valid-proof.open .dropdown-content {
  display: block;
}




@media (max-width: 900px) {
  .home {
    padding: 1.5rem;
  }

  .upload-info,
  .notification {
    width: 100%;
  }

}

.Document_Upload {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: grey 0px 1px 2px 1px;
  /* padding: 1rem 1.5rem; */

}

.document-upload-title {
  width: 100%;
  background-color: #FAFAFA;
  color: black;
  border-bottom: solid 2px rgb(202, 202, 202);
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.document-upload-content {
  padding: 1rem 1.5rem;
  font-size: 14px;
}

.upload {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#upload-button {
  background-color: #FF9900;
  box-shadow: #b4b4b4 0px 1px 2px 1px;
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

#upload-button:hover{
  background-color: #dd8808;
  box-shadow: #FF9900;
}

.document-upload-content h3 {
  color: #545B64;
  font-size: 13px;
}

/* Styling for file-label (button for selecting files) */
.file-label {
  display: inline-block;
  background-color: #ffffff;
  color: #545B64;
  border: 2px solid black;
  /* Border with the same color as the upload button */
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-label:hover {
  color: black;
}

.footer {
  font-size: 14px;
  padding: 1.5rem 0;
  background-color: #202C3A;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer div {
  display: flex;
  flex-direction: row;
}

.footer div a {
  background-color: #202C3A;
  padding: 10px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}